<div class="example-container">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <button mat-button routerLink="/">
      <h1 class="example-app-name">Frontend-BASIC</h1>
    </button>


    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil">
          <mat-icon>account_box</mat-icon>
          <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
      </button>
   </mat-menu>

  </mat-toolbar>


<mat-sidenav-container class="example-sidenav-container" >

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #sidenav class="example-sidenav" mode="push">
      <img src="assets/logo.png" width="250px">
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/paciente" style="cursor: pointer;" (click)="sidenav.toggle()">
        <mat-icon>person</mat-icon>
        <span>Paciente</span>
      </button>
      <mat-divider></mat-divider>
    </mat-drawer>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
  </mat-sidenav-container>


</div>

